.text {
  &::after {
    content: "_";
    visibility: hidden;
  }
}

.glyph {
  opacity: 0.8;
  font-weight: 400;
  font-family: "IPA Gothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Hiragino Sans, Osaka, メイリオ, Meiryo, Segoe UI, sans-serif";
  line-height: 0;
  letter-spacing: 0.1em;
}

.placeholder {
  font-family: "Space Mono, monospace";
  font-size: 2.25rem;
  letter-spacing: 0.5em;
  line-height: 2.5rem;
}

.value {
  opacity: 1;
}
